
* {
	font-family: monospace;
}
body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
}
p {
	text-indent: 32px;
}
ul {
	text-align: left;
}
table, th, td {
	border-collapse: collapse;
}
img {
	width: 12px;
	height: 12px;
}
.bold {
	font-weight: bold;
}
.c {
	text-align: center;
}
footer, .r {
	text-align: right;
}
.shade {
	background-color: lightgray;
}
.contrast {
	background-color: black;
	color: white;
}
.tabla {
	width: 100%;
	text-align: center;
}
.h-indent {
	padding-left: 32px;
	text-indent: -32px;
}
