
@font-face {
        font-family: Gothic;
        src: url(../fonts/BIZ_UDGothic.woff);
}

@font-face {
        font-family: Mincho;
        src: url(../fonts/BIZ_UDMincho.woff);
}

body, html {
        margin: 0;
        height: 100%;
}

body {
        font-family: BIZ UDMincho, Mincho, MS Mincho, Times New Roman, Times, serif;
        color: #F3E7BF;
        font-size: 24px;
        text-align: center;
        text-shadow: 5px 5px 0 #021D32;
        word-wrap: break-word;
        background-image: url(../img/fabric.png);

        display: flex;
        height: 100%;
        justify-content: center;
}

main {
        display: flex;
        flex-basis: 800px;
        overflow: hidden;
        padding: 12px;
        gap: 12px
}

aside {
        font-family: BIZ UDGothic, Gothic, MS Gothic, Arial, Helvetica, sans-serif;
}

article {
        display: flex;
        flex-direction: column;
        gap: 12px;

}
article .caja {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
}

footer {
        font-family: BIZ UDGothic, Gothic, MS Gothic, Arial, Helvetica, sans-serif;
        font-size: 18px;
}

.contenido {
        overflow: auto;

}
.contenido .caja {
        background: none;
        border: none;
}
.contenido .caja p {
        margin-bottom: 20px;
}

h1 {
        font-size: 98px;
}
h2 {
        font-size: 64px;
}
h3 {
        font-size: 32px;
}

a {
        color: #26C88C;
        font-style: italic;
}
a:hover {
        color: #F3E7BF;
}

.caja {
        background-image: url(../img/marble.png);
        padding: 12px;
        border-style: double;
        border-width: 6px;
        border-radius: 30px;
        text-align: left;
        text-shadow: none;

}
.caja h3, .caja p, .caja ul {
        margin: auto;
}

#barra {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
}

#titulo, #subtitulo {
        margin: 0;
}
#titulo {       
        font-style: italic;
        overflow-wrap: break-word;
}
#subtitulo {
        text-align: center;
}
