
@font-face {
        font-family: Gothic;
        src: url(../fonts/BIZ_UDGothic.woff);
}

@font-face {
        font-family: Mincho;
        src: url(../fonts/BIZ_UDMincho.woff);
}

body, html {
        margin: 0;
        height: 100%;
}
body {
        display: flex;
        justify-content: center;

        height: 100%;

        color: #F3E7BF;
        background-image: url(../img/fabric.png);

        font-family: BIZ UDMincho, Mincho, MS Mincho, Times New Roman, Times, serif;
        font-size: 24px;

        text-align: center;
        text-shadow: 5px 5px 0 #021D32;

}
body main {
        display: flex;
        gap: 12px;

        flex-basis: 800px;
		max-height: 96%;

		align-self: center;

        overflow: hidden;
        padding: 12px;
}
body main aside {
        flex: 1 0 min-content;

        font-family: BIZ UDGothic, Gothic, MS Gothic, Arial, Helvetica, sans-serif;

		overflow: auto;
}
body main aside ul {
        list-style-type: none;
        padding-left: 0;
}
body main aside ul li { 
        margin-block: 12px;
}
body main aside ul li a {
        display: block;
}
body main aside .caja {
        text-align: center;
}
body main aside#barra * {
	margin-bottom: 6px;
}
body main aside#barra, body main aside .caja {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
}
body main article {
        display: flex;
        flex-direction: column;
        gap: 12px;

        flex: 1 1 max-content;
}
body main article .caja {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
}
body main article #titulo, #subtitulo {
        margin: 0;
}
body main article #titulo {       
        font-style: italic;
}
body main article #subtitulo {
        text-align: center;
}
body main article #contenido {
        overflow: auto;
}
body main article #contenido p {
        margin-bottom: 20px;
}
body main article footer {
        font-family: BIZ UDGothic, Gothic, MS Gothic, Arial, Helvetica, sans-serif;
        font-size: 18px;
}

h1 {
        font-size: 90px;
}
h2 {
        font-size: 45px;
}
h3 {
        font-size: 28px;
}

hr {
    color: #F3E7BF;
}

a {
        color: #26C88C;
        font-style: italic;
}
a:hover {
        color: #F3E7BF;
}

.caja {
        background-image: url(../img/marble.png);
        padding: 12px;
        border-style: double;
        border-width: 6px;
        border-radius: 50px;
        text-align: justify;
        text-shadow: none;
}
.caja * {
        margin: auto;
}
