
body, html {
        margin: 0;
        height: 100%;
}

body {
        font-family: "BIZ UDMincho", "MS Mincho", "Times New Roman";
        color: rgb(243, 231, 191);
        font-size: 24px;
        text-align: center;
        word-wrap: break-word;
        background-image: url("../img/fabric.png");

        display: flex;
        height: 100%;

        main {

                display: flex;
                overflow: hidden;

                aside {
                        flex: 1 0 auto;

                        font-family: "BIZ UDGothic", "MS Gothic", "Arial";

                        h3, p {
                                margin-bottom: 0px;
                        }
                }
                article {

                        flex: 4 0 inherit;

                        #titulo {       
                                font-style: italic;
                                text-shadow: 12px 12px 0px rgb(2, 29, 50);
                                margin: auto;
                                overflow-wrap: break-word;
                        }
                        #subtitulo {
                                text-align: center;
                        }

                        display: flex;
                        flex-direction: column;

                        .caja {
                                margin-left: 0;
                                margin-bottom: 0;
                        }

                        .contenido {
                                overflow: scroll;

                                .caja {
                                        background: none;
                                        margin: 0;
                                        border: none;
                                        p {
                                                margin-bottom: 20px;
                                        }
                                }
                        }
                }
                footer {
                        font-family: "BIZ UDGothic", "MS Gothic", "Arial";
                        font-size: auto;
                        padding-bottom: 12px;
                        padding-top: 12px;
                }
        }
}

h1 {
        font-size: 128px;
}
h2 {
        font-size: 64px;
}
h3 {
        font-size: 32px;
}

a {
        color: rgb(38, 200, 140);
        font-style: italic;
}

a:hover {
        color: rgb(243, 231, 191);
}

.caja {
        background-image: url("../img/marble.png");
        padding: 12px;
        margin: 12px;
        border-style: double;
        border-width: 6px;
        text-align: left;

        h3, p, ul {
                margin: auto;
        }
}
