html, body {
        margin: 0;
        height: 100%;
}
body #contenedor {
        display: flex;
        flex-direction: column;
        height: 100%;
}
body #contenedor main {
        overflow: hidden;
        display: flex;
        max-width: 800px;
        align-self: center;
}
body #contenedor main aside {
        flex: 0 0 auto;
        overflow: auto;
}
body #contenedor main article {
        display: flex;
        flex-direction: column;

}
body #contenedor main article #contenido {
        overflow: auto;
}
